/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    .main-wrapper{
    padding-left: 120px !important;
    }
 .main-sidebar{
    width: 120px !important;
 }
 .header-main{
    padding-left: 150px !important;
 }
}